:root { 
--gray_700:#686868; 
--deep_orange_50:#ffefe7; 
--gray_50_01:#f8f8f8; 
--gray_400:#b2b2b2; 
--blue_gray_50:#f1f1f1; 
--red_A200:#ff5151; 
--white_A700_a2:#ffffffa2; 
--white_A700_90:#ffffff90; 
--blue_A200:#3785f1; 
--gray_200:#efefef; 
--gray_300:#e0e0e0; 
--gray_50:#f9f9f9; 
--blue_50:#e8f0fb; 
--red_50:#fdebf9; 
--pink_A100:#ee61cf; 
--gray_400_01:#b3b3b3; 
--blue_gray_900_02:#2f2f2f; 
--gray_700_87:#68686887; 
--blue_gray_900_01:#1b204a; 
--indigo_900:#0a337a; 
--blue_gray_900:#161e54; 
--white_A700:#ffffff; 
}